.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image {
    width: 15vh;
    height: 15vh;
    border-radius: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
